// Importing font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


// Colors

$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);


body {
    background:$lightGray;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 210px;
    height: 320px;
    background-color: $white;
}

